.header {
  background-image: url("../Images/tshirtBackground.jpeg");
  height: 230px;
  background-size: cover;
  background-position: center; }

.logo {
  margin-top: 104px;
  margin-left: 50px;
  height: 130px;
  width: 130px;
  border: 3px solid #fafafa;
  border-radius: 18px; }

.pickShirt {
  height: 330px;
  border: 3px solid #E04A34;
  border-radius: 168px;
  margin: 0 auto;
  display: block; }

.colorPalette {
  height: 300px;
  border: 3px solid #E04A34;
  border-radius: 168px;
  margin: 0 auto;
  display: block;
  margin-bottom: 53px; }

.design {
  height: 300px;
  border: 3px solid #E04A34;
  border-radius: 168px;
  margin: 0 auto;
  display: block;
  margin-bottom: 53px; }

.teamPhoto {
  margin: 0 auto;
  display: block;
  border: 3px solid #E04A34;
  border-radius: 168px;
  height: 330px; }

.front img {
  height: 238px;
  max-width: 100%;
  margin-left: 21px;
  margin-bottom: 8px;
  margin-top: 3px;
  padding-bottom: 20px; }

.back img {
  height: 238px;
  max-width: 100%;
  margin-right: 14px;
  margin-bottom: 8px;
  margin-top: 3px;
  padding-bottom: 20px; }

.front img.pinkShirt {
  margin-left: 29px; }

.back img.pinkHover {
  margin-right: 31px; }

.dropdown {
  display: inline-block;
  position: relative; }

.dropdown .tshirt li {
  display: inline-block; }

.tshirt ul {
  display: none;
  position: absolute;
  top: -258px;
  margin-left: -16px;
  padding: 0; }

.dropdown:hover .tshirt ul {
  display: block;
  border: solid 2px #E04A34;
  background-color: #F2F2F2;
  height: 257px;
  width: 80px; }

.dropdown:hover ul {
  animation: moveUp .2s, fade .2s;
  animation-iteration-count: once;
  animation-timing-function: linear;
  animation-delay: .35s; }

.dropdown .smallT img {
  height: 48px;
  width: 42px;
  padding-bottom: 8px;
  margin: 0 auto;
  display: block;
  margin-left: 17px; }
  .dropdown .smallT img:hover {
    background-color: #ea8576;
    padding: 3px; }

.dropdown .medium img {
  height: 58px;
  width: 51px;
  margin-left: 12px;
  margin-top: -8px; }
  .dropdown .medium img:hover {
    background-color: #ea8576;
    padding: 3px; }

.dropdown .large img {
  height: 69px;
  width: 60px;
  margin: 8px; }
  .dropdown .large img:hover {
    background-color: #ea8576;
    padding: 3px; }

.dropdown .extraLarge img {
  height: 82px;
  width: 69px;
  margin-top: 4px;
  margin-bottom: -8px;
  margin-left: 4px; }
  .dropdown .extraLarge img:hover {
    background-color: #ea8576;
    padding: 3px; }

.aboutTees p {
  font-family: "Poiret One", cursive;
  font-size: 18px;
  color: #616161;
  padding-left: 30px;
  padding-right: 30px; }

.meetTeam p {
  margin-top: 30px;
  font-family: "Poiret One", cursive;
  font-size: 18px;
  color: #616161;
  padding-left: 30px;
  padding-right: 30px; }

ul.teamMembers {
  font-family: "Poiret One", cursive;
  font-size: 18px;
  color: #616161;
  margin-bottom: 30px;
  padding-right: 140px;
  padding-left: 140px; }

.contactPage {
  margin-bottom: 80px; }

i.pinIcon {
  font-size: 30px;
  text-align: center;
  color: #E04A34;
  margin: 0 auto;
  display: block; }

.locationColumn h3 {
  font-size: 20px;
  font-family: "Poiret One", cursive;
  text-align: center; }

i.mobileIcon {
  font-size: 30px;
  text-align: center;
  color: #E04A34;
  margin: 0 auto;
  display: block; }

.phoneColumn h3 {
  font-size: 20px;
  font-family: "Poiret One", cursive;
  text-align: center; }

i.emailIcon {
  font-size: 30px;
  text-align: center;
  color: #E04A34;
  margin: 0 auto;
  display: block; }

.emailColumn h3 {
  font-size: 20px;
  font-family: "Poiret One", cursive;
  text-align: center; }

.inputColumn {
  height: 400px;
  right: 0;
  padding-top: 80px;
  padding-left: 148px;
  padding-right: 148px;
  background-color: #E04A34; }

#name, #email, #commentArea {
  width: 100%;
  margin-bottom: 20px; }

#commentArea {
  height: 150px; }

.borderContainer {
  border: 2px solid;
  border-color: #E04A34;
  height: 311px;
  width: 264px;
  margin-bottom: 15px; }

.column {
  vertical-align: top;
  box-sizing: border-box;
  width: 256px;
  margin: 0 auto;
  display: block;
  margin-top: 40px; }

.box {
  border-top: 2px solid #E04A34;
  height: 40px;
  margin-left: 0%;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: -55px; }

.flipBox {
  border-left: 2px solid #E04A34;
  border-bottom: 2px solid #E04A34;
  height: 25px;
  width: 25px;
  margin-left: 91%;
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  position: relative; }
  .flipBox i {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px; }

.blue.box > div {
  border-right: 2px solid #E04A34;
  height: 42px;
  width: 20.2%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-left: -4px; }

.pink.box > div {
  border-right: 2px solid #E04A34;
  height: 42px;
  width: 20.2%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-left: -4px; }

.orange.box > div {
  border-right: 2px solid #E04A34;
  height: 42px;
  width: 20.2%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-left: -4px; }

.column .box :nth-child(5) {
  border-right: none; }

.three > p {
  margin: 0;
  padding: 11px; }

.three p {
  color: #E04A34;
  font-family: "Poiret One", cursive;
  text-align: center;
  font-weight: bold; }

i {
  color: #E04A34;
  box-sizing: border-box;
  display: block;
  text-align: center; }

.blue.four .small {
  border: solid #E04A34;
  background-color: #E04A34;
  height: 15px;
  width: 15px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  margin-top: 14px; }

.pink.four .small {
  border: solid #E04A34;
  background-color: #E04A34;
  height: 15px;
  width: 15px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  margin-top: 14px; }

.orange.four .small {
  border: solid #E04A34;
  background-color: #E04A34;
  height: 15px;
  width: 15px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  margin-top: 14px; }

.column .box i {
  text-align: center;
  display: block;
  margin: 13px; }

.column .flipBox i {
  transform: rotate(180deg);
  text-align: center;
  display: block;
  margin-top: 0px;
  font-size: 12px;
  padding-bottom: 6px; }

.column .trees p {
  display: inline-block;
  margin-top: 2px;
  font-family: "Patrick Hand SC", cursive;
  color: #E04A34;
  font-size: 30px; }

.column .nature p {
  display: inline-block;
  margin-top: 2px;
  font-family: "Patrick Hand SC", cursive;
  color: #E04A34;
  font-size: 30px; }

.column .forrest p {
  display: inline-block;
  margin-top: 2px;
  font-family: "Patrick Hand SC", cursive;
  color: #E04A34;
  font-size: 30px; }

.price {
  font-weight: bold; }

.active {
  background-color: #E04A34; }
  .active .fa {
    color: #E0E0E0; }

.icon:hover {
  background-color: #E04A34;
  cursor: pointer; }

.icon:hover .small {
  background-color: #E04A34;
  cursor: pointer;
  padding: 0px; }

.icon:hover i {
  color: #E0E0E0; }

.icon:hover p {
  color: #E0E0E0; }

.icon:hover .small {
  border-color: #E0E0E0;
  border-width: 2px; }

.trees p {
  margin-left: 0;
  padding-top: 15px; }

.nature p {
  margin-left: 0;
  padding-top: 15px; }

.forrest p {
  margin-left: 0;
  padding-top: 15px; }

.dropdown {
  display: inline-block;
  position: relative; }

.flip-container {
  perspective: 1000px; }

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
  cursor: pointer; }

.flip-container, .front, .back {
  height: 238px;
  max-width: 100%; }

.flipper {
  transition: .5s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  transform: rotateY(0deg); }

.back {
  transform: rotateY(180deg); }

.dropdownTwo {
  display: inline-block;
  position: relative; }

.dropdownTwo .tshirtColor li {
  display: inline-block; }

.tshirtColor ul {
  display: none;
  position: absolute;
  top: -94px;
  margin-left: -11px;
  margin-top: 24px;
  padding: 1px; }

.dropdownTwo:hover ul {
  animation: moveUp .2s;
  animation-iteration-count: once;
  animation-timing-function: linear;
  animation-delay: .35s; }

.dropdownTwo:hover .tshirtColor ul {
  display: block;
  border: solid 2px #E04A34;
  background-color: white;
  height: 70px;
  width: 70px; }

.selector.blue {
  border: solid #3D435C;
  background-color: #3D435C;
  height: 20px;
  width: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: -2px; }
  .selector.blue:hover {
    background-color: #667099;
    padding: 5px; }

.selector.pink {
  border: solid #631A35;
  background-color: #631A35;
  height: 20px;
  width: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  margin-top: 12px;
  margin-bottom: -2px; }
  .selector.pink:hover {
    background-color: #b42f60;
    padding: 5px; }

.selector.orange {
  border: solid #E04A34;
  background-color: #E04A34;
  height: 20px;
  width: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin: 3px;
  margin-left: 10px; }
  .selector.orange:hover {
    background-color: #ee998c;
    padding: 5px; }

.selector.green {
  border: solid #28746A;
  background-color: #28746A;
  height: 20px;
  width: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin: 3px; }
  .selector.green:hover {
    background-color: #44beae;
    padding: 5px; }

.column.flipBox {
  position: absolute;
  top: 0;
  right: 0; }

.column {
  position: relative; }

.totalTitle {
  height: 70px;
  width: 400px;
  background: #E04A34;
  border: 2px solid #E04A34;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px; }

.totalBox {
  height: 300px;
  width: 400px;
  border: 2px solid #E04A34;
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px; }

.totalBox label, input {
  color: #616161;
  font-size: 24px;
  font-family: "Patrick Hand SC", cursive;
  display: block; }

input[type="text"] {
  width: 80px;
  display: inline-block;
  float: right;
  margin-top: -36px; }

label {
  margin-top: 10px; }

.totalColumn {
  margin-top: 30px; }

.cartColumn {
  margin-top: 30px; }

.cartTitle {
  height: 70px;
  width: 400px;
  background: #E04A34;
  border: 2px solid #E04A34;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px; }

.cartBox {
  height: 300px;
  width: 400px;
  border: 2px solid #E04A34;
  padding-top: 20px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  border-radius: 15px; }

h5 {
  font-family: "Patrick Hand SC", cursive;
  color: #E04A34;
  text-align: center;
  font-size: 20px; }

h2.newItem {
  font-family: "Patrick Hand SC", cursive;
  color: #616161;
  margin-bottom: 20px;
  margin-top: 0; }

span.inCart {
  font-family: "Patrick Hand SC", cursive;
  color: #E0E0E0;
  font-size: 40px;
  margin-left: 137px; }

span.shirtColor {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 12px; }

span.shirtPrice {
  font-weight: bold; }

.shirtTitle {
  margin-left: 5px;
  font-size: 15px; }

body {
  background-color: #fafafa;
  position: relative;
  padding-bottom: 0;
  margin: 0; }

.nav {
  padding-right: 0px; }
  .nav ul {
    margin: 0 auto;
    display: block;
    background-color: #E04A34;
    margin-top: -14px;
    border: 3px solid #fafafa;
    border-radius: 13px 13px 0px 0px;
    height: 71px;
    padding-top: 20px;
    padding-left: 0; }
    .nav ul li {
      display: inline;
      padding: 0px 63px;
      font-size: 40px;
      list-style: none;
      text-align: center; }
      .nav ul li a {
        color: #bababa;
        font-family: "Poiret One", cursive;
        text-decoration: none;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px; }
        .nav ul li a:hover {
          background-color: #ea8576;
          color: #7a7a7a; }

.footerNav {
  right: 0;
  padding: 16px;
  background-color: #bababa;
  text-align: center; }
  .footerNav ul {
    background-color: #bababa;
    border: 3px solid #fafafa;
    border-radius: 13px 0px 0px 0px;
    height: 40px; }
    .footerNav ul li {
      display: inline;
      padding: 0px 22px;
      font-size: 20px;
      list-style: none;
      text-align: center; }
      .footerNav ul li a {
        color: #E04A34;
        font-family: "Poiret One", cursive;
        font-size: 15px; }

.mobileMenu {
  display: none; }

@media screen and (max-width: 768px) {
  .nav, .footerNav {
    display: none; }
  .mobileMenu {
    display: block;
    float: right;
    margin-top: 30px; }
  .mobileMenu button {
    position: relative;
    color: #E04A34;
    font-family: "Poiret One", cursive;
    font-size: 25px;
    border-radius: 5px; } }

.mobileDropdown {
  z-index: 9999;
  display: inline-block;
  position: relative; }

.mobileDropdown .mobileList li {
  display: inline-block;
  font-family: "Poiret One", cursive;
  text-align: center;
  padding: 5px; }

.mobileDropdown .mobileList a {
  color: #E04A34;
  text-decoration: none;
  font-size: 20px;
  padding: 5px; }
  .mobileDropdown .mobileList a:hover {
    background-color: #ea8576;
    color: #7a7a7a; }

.mobileDropdown .mobileList ul {
  display: none;
  position: absolute;
  top: 17px;
  float: center;
  padding: 1px; }

.mobileDropdown:hover .mobileList ul {
  display: block;
  border: solid 2px #E04A34;
  background-color: white;
  height: 160px;
  width: 100px;
  border-radius: 5px;
  margin-top: 23px; }

h1, h2 {
  font-family: "Patrick Hand SC", cursive;
  text-align: center;
  color: #616161; }

h1 {
  font-size: 80px;
  margin: 40px; }

h2 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 60px; }
