.header {
  background-image: url("../Images/tshirtBackground.jpeg");
  height: 230px;
  background-size: cover;
  background-position: center; }

.logo {
  margin-top: 104px;
  margin-left: 50px;
  height: 130px;
  width: 130px;
  border: 3px solid #fafafa;
  border-radius: 18px; }

.pickShirt {
  height: 330px;
  border: 3px solid #E04A34;
  border-radius: 168px;
  margin: 0 auto;
  display: block; }

.colorPalette {
  height: 330px;
  border: 3px solid #E04A34;
  border-radius: 168px;
  margin: 0 auto;
  display: block; }

.design {
  height: 330px;
  border: 3px solid #E04A34;
  border-radius: 168px;
  margin: 0 auto;
  display: block; }

.teamPhoto {
  margin: 0 auto;
  display: block;
  border: 3px solid #E04A34;
  border-radius: 168px;
  height: 330px; }

body {
  background-color: #fafafa;
  position: relative;
  padding-bottom: 0;
  margin: 0; }

.nav {
  padding-right: 0px; }
  .nav ul {
    background-color: #E04A34;
    margin-top: -14px;
    border: 3px solid #fafafa;
    border-radius: 13px 13px 0px 0px;
    height: 71px;
    padding-top: 20px; }
    .nav ul li {
      display: inline;
      padding: 0px 63px;
      font-size: 40px;
      list-style: none; }
      .nav ul li a {
        color: #bababa;
        font-family: "Poiret One", cursive;
        text-decoration: none;
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px; }
        .nav ul li a:hover {
          background-color: #ea8576;
          color: #7a7a7a; }

.footerNav {
  position: absolute;
  right: 0;
  padding: 16px;
  background-color: #bababa;
  text-align: center; }
  .footerNav ul {
    background-color: #bababa;
    border: 3px solid #fafafa;
    border-radius: 13px 0px 0px 0px;
    height: 40px; }
    .footerNav ul li {
      display: inline;
      padding: 0px 22px;
      font-size: 20px;
      list-style: none;
      text-align: center; }
      .footerNav ul li a {
        color: #E04A34;
        font-family: "Poiret One", cursive;
        font-size: 15px; }

h1, h2 {
  font-family: "Patrick Hand SC", cursive;
  text-align: center;
  color: #616161; }

h1 {
  font-size: 80px;
  margin: 40px; }

h2 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 60px; }

p {
  font-family: "Poiret One", cursive;
  font-size: 18px;
  color: #616161; }

.meetTeam p {
  margin-top: 30px; }

.meetTeam ul {
  font-family: "Poiret One", cursive;
  font-size: 18px;
  color: #616161;
  margin-bottom: 30px; }
