.aboutTees p {
	font-family:$nav-font;
	font-size:18px;
	color:darken($light-gray,50);
	padding-left:30px;
	padding-right:30px;
}
.meetTeam p {
	margin-top:30px;
	font-family:$nav-font;
	font-size:18px;
	color:darken($light-gray,50);
	padding-left:30px;
	padding-right:30px;
}
	
ul.teamMembers {
		font-family:$nav-font;
		font-size:18px;
		color:darken($light-gray,50);
		margin-bottom:30px;
		padding-right:140px;
		padding-left:140px;
	}
	
@media (max-width:604px){
	img.teamPhoto{
		width:420px;
		height:215px;
	}
}	

@media (max-width:440px){
	img.teamPhoto{
		width:229px;
		height:155px;
	}
}