@mixin smallBox () {
	height:15px;
	width:15px;
	display:block;
	box-sizing:border-box;
	margin:0 auto;
	display:block;
	margin-top:14px;
	}

.borderContainer {
	border: 2px solid;
	border-color:$orange;	
	height:311px;
	width:264px;
	margin-bottom:15px;
}

.column {
	vertical-align:top;
	box-sizing:border-box;
	width:256px;
	margin:0 auto;
	display:block;
	margin-top:20px * 2;
}


.box {
	border-top:2px solid $orange;
	height:40px;
	margin-left:0%;
	width:50% * 2;
	display:inline-block;
	box-sizing:border-box;
	margin-bottom:-55px
}


.flipBox {
	border-left:2px solid $orange;
	border-bottom:2px solid $orange;
	height:25px;
	width:25px;
	margin-left:91%;
	display:inline-block;
	vertical-align: top;
	z-index:100;
	position:relative;
		
	i {
 		padding-top: 5px;
 		padding-bottom: 5px;
 		margin-top: -5px;
	 }
}	 

.blue.box > div {
	border-right:2px solid $orange;
	height:42px;
	width:20.2%;
	display:inline-block;
	box-sizing: border-box;
	vertical-align: top;
	margin-left:-4px;
	
}


.pink.box > div {
	border-right:2px solid $orange;
	height:42px;
	width:20.2%;
	display:inline-block;
	box-sizing:border-box;
	vertical-align: top;
	margin-left:-4px;

}

.orange.box > div {
	border-right:2px solid $orange;
	height:42px;
	width:20.2%;
	display:inline-block;
	box-sizing: border-box;
	vertical-align: top;
	margin-left:-4px;
}

.column .box :nth-child(5) {
	border-right:none;
}

.three > p { 
	margin:0;
	padding:11px;
}

.three p {
	color:$orange;
	font-family: $nav-font;
	text-align: center;
	font-weight:bold;
}


i {
	color:$orange;
	box-sizing: border-box;
	display:block;
	text-align:center;
}


.blue.four .small {
	border:solid $orange;
	background-color: $orange;
	@include smallBox;
	}

.pink.four .small {
	border:solid $orange;
	background-color: $orange;
	@include smallBox;
	}

.orange.four .small {
	border:solid $orange;
	background-color: $orange;
	@include smallBox;
	}	

.column .box i {
	text-align: center;
    display: block;
    margin: 13px;
}

.column .flipBox i {
	transform:rotate(180deg);
	text-align:center;
	display:block;
	margin-top:0px;
	font-size:12px;
	padding-bottom:6px;
}

.column .trees p {
	display:inline-block;
	margin-top: 2px;
	font-family: $title-font;
	color:$orange;
	font-size:30px;
}

.column .nature p {
	display:inline-block;
	margin-top: 2px;
	font-family: $title-font;
	color:$orange;
	font-size:30px;

}

.column .forrest p {
	display:inline-block;
	margin-top: 2px;
	font-family: $title-font;
	color: $orange;
	font-size:30px;
}

.price {
	font-weight:bold;
}

.active{
	background-color:$orange;
	.fa{
		color:$light-gray;
	}
}

.icon:hover {
	background-color:$orange;
	cursor:pointer;
}

.icon:hover .small {
	background-color:$orange;
	cursor:pointer;
	padding:0px;
}

.icon:hover i {
	color:$light-gray; 
}

.icon:hover p {
	color:$light-gray;
}

.icon:hover .small {
	border-color:$light-gray;
	border-width: 2px;
}

.trees p {
	margin-left: 0;
	padding-top: 15px;
}

.nature p {
	margin-left:0;
	padding-top: 15px;

}

.forrest p {
	margin-left: 0;
	padding-top: 15px
}

	

.dropdown {
    display: inline-block;
    position:relative;
   
}

.flip-container {
	perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
		cursor: pointer;
	}

.flip-container, .front, .back {
	 height: 238px;
     max-width: 100%;
}

.flipper {
	transition:.5s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility:hidden;
	position: absolute;
	top:0;
	left:0;
}

.front {
	z-index:2;
	transform: rotateY(0deg);
}

.back {
	transform:rotateY(180deg);
}

.dropdownTwo {
    display: inline-block;
   	position:relative;  	
}

.dropdownTwo .tshirtColor li {
	display: inline-block;	
	
}

.tshirtColor ul {
	display: none;
    position: absolute;
    top: -94px;
    margin-left:-11px;
    margin-top:24px;
    padding:1px;
}


.dropdownTwo:hover ul {
	animation: moveUp .2s;
    animation-iteration-count: once;
    animation-timing-function: linear;
    animation-delay: .35s;
}

.dropdownTwo:hover .tshirtColor ul {
	display: block;
	border:solid 2px $orange;
	background-color:white;
	height:70px;
	width:70px;
}

.selector.blue {
		border:solid $blue;
		background-color:$blue;
		height:20px;
		width:20px;
		display:inline-block;
		box-sizing:border-box;
		margin:3px;
		margin-top: 12px;
		margin-left: 10px;
		margin-bottom:-2px;	

		&:hover {
			background-color:lighten($blue,20);
			padding:5px;
					}
	}	

.selector.pink {
		border:solid $pink;
		background-color: $pink;
		height:20px;
		width:20px;
		display:inline-block;
		box-sizing:border-box;
		margin:3px;
		margin-top: 12px;
		margin-bottom:-2px;

		&:hover {
			background-color:lighten($pink,20);
			padding:5px;
					}
		}
		

.selector.orange {
		border:solid $orange;
		background-color: $orange;
		height:20px;
		width:20px;
		display:inline-block;
		box-sizing:border-box;
		margin:3px;
		margin-left:10px;

		&:hover {
			background-color:lighten($orange,20);
			padding:5px;
					}
		}	

.selector.green {
		border:solid $green;
		background-color:$green;
		height:20px;
		width:20px;
		display:inline-block;
		box-sizing:border-box;
		margin:3px;

		&:hover {
			background-color:lighten($green,20);
			padding:5px;
					}
		}	


.column.flipBox {
	position:absolute;
	top:0;
	right:0;
}

.column {
	position:relative;
}

@media (max-width:439px){
	.totalTitle{
		width:289px;
	 }
	.totalBox{
		width:289px;
	}
	.cartTitle{
		width:289px;
	}
	.cartBox{
		width:289px;
	}
}