$light-gray:#E0E0E0;
$light-green:#C8E5B9;
$orange:#E04A34;
$cream:#FBFDE8;
$nav-font:'Poiret One', cursive;
$title-font:'Patrick Hand SC', cursive;

@import 'images';

body {
	background-color:lighten($light-gray,10);
	position:relative;
	padding-bottom:0;
	margin:0;
}

.nav {
	padding-right:0px;
		ul {
			background-color:$orange;
			margin-top:-14px;
			border:3px solid lighten($light-gray,10);
			border-radius:13px 13px 0px 0px;
			height:71px;
			padding-top:20px;
			li {
  				display:inline;
  				padding:0px 63px;
  				font-size:40px;
  				list-style:none;
				a {
					color:darken($light-gray,15);
					font-family:$nav-font;
					text-decoration: none;
					padding-top:25px;
					padding-left:10px;
					padding-right:10px;

					&:hover {
						background-color:lighten($orange,15);
						color:darken($light-gray,40)
					}
				}
			}
		}
	}
	

.footerNav {
	position: absolute;
  	right: 0;
  	padding: 16px;
  	background-color:darken($light-gray,15);
  	text-align: center;
		ul {
			background-color:darken($light-gray,15);
			border:3px solid lighten($light-gray,10);
			border-radius:13px 0px 0px 0px;
			height:40px;
			li {
  				display:inline;
  				padding:0px 22px;
  				font-size:20px;
  				list-style:none;
  				text-align:center;
  				a {
					color:$orange;
					font-family:$nav-font;
					font-size:15px;
				}		
			}	
		}
	}		

h1, h2 {
	font-family:$title-font;
	text-align:center;
	color:darken($light-gray,50);
}

h1 {
	font-size:80px;
	margin:40px;
}


