$light-gray:#E0E0E0;
$light-green:#C8E5B9;
$orange:#E04A34;
$cream:#FBFDE8;
$nav-font:'Poiret One', cursive;

@import 'images';

body {
	background-color:lighten($light-gray,10);
	position:relative;
	padding-bottom:0;
	margin:0;
}

.nav {
	padding-right:0px;

	
}

.nav ul {
	background-color:$orange;
	margin-top:-14px;
	border:3px solid lighten($light-gray,10);
	border-radius:13px 13px 0px 0px;
	height:71px;
	padding-top:20px;

}

.nav li {
  display:inline;
  padding:0px 74px;
  font-size:40px;
  list-style:none;
}

.nav a {
	color:darken($light-gray,15);
	font-family:$nav-font;
}

.footerNav {
	position: absolute;
  	right: 0;
  	padding: 16px;
  	background-color:darken($light-gray,15);
  	text-align: center;
}

.footerNav ul {
	background-color:darken($light-gray,15);
	border:3px solid lighten($light-gray,10);
	border-radius:13px 0px 0px 0px;
	height:40px;

}

.footerNav li {
  display:inline;
  padding:0px 22px;
  font-size:20px;
  list-style:none;
  text-align:center;
}

.footerNav a {
	color:$orange;
	font-family:$nav-font;
	font-size:15px;
}

