$light-gray:#E0E0E0; 
$green:#28746A;
$pink:#631A35;
$blue:#3D435C;
$orange:#E04A34;
$nav-font:'Poiret One', cursive;
$title-font:'Patrick Hand SC', cursive;

@import 'images';

@import 'about';

@import 'contact';

@import 'product';

@import 'cart';

body {
	background-color:lighten($light-gray,10);
	position:relative;
	padding-bottom:0;
	margin:0;
}

.nav {
	padding-right:0px;

		ul {
			margin:0 auto;
			display:block;
			background-color:$orange;
			margin-top:-14px;
			border:3px solid lighten($light-gray,10);
			border-radius:13px 13px 0px 0px;
			height:71px;
			padding-top:20px;
			padding-left:0;
			text-align: center;
			li {
  				display:inline;
  				padding:0px 63px;
  				font-size:40px;
  				list-style:none;
  				
				a {
					color:darken($light-gray,15);
					font-family:$nav-font;
					text-decoration: none;
					padding-top:25px;
					padding-left:10px;
					padding-right:10px;
					

					&:hover {
						background-color:lighten($orange,15);
						color:darken($light-gray,40)
					}
				}
			}
		}
	}
	

.footerNav {
	//position: absolute;
  	right: 0;
  	padding: 16px;
  	background-color:darken($light-gray,15);
  	text-align: center;
		ul {
			background-color:darken($light-gray,15);
			border:3px solid lighten($light-gray,10);
			border-radius:13px 0px 0px 0px;
			height:40px;
			li {
  				display:inline;
  				padding:0px 22px;
  				font-size:20px;
  				list-style:none;
  				text-align:center;
  				a {
					color:$orange;
					font-family:$nav-font;
					font-size:15px;
				}		
			}	
		}
	}		

.mobileMenu {
  display:none;
}

@media screen and (max-width: 768px) {
  .nav, .footerNav {
    display:none;
  }
  .mobileMenu {
    display:block;
    float:right;
    margin-top:30px;
  }
  
  .mobileMenu button {
    position:relative;
    color:$orange;
    font-family: $nav-font;
    font-size: 25px;
    border-radius:5px;
  }
 } 

.mobileDropdown {
	z-index:9999;
	display:inline-block;
	position:relative;
}

.mobileDropdown .mobileList li {
	display: inline-block;
	font-family:$nav-font;
	text-align:center;
	padding:5px;
	
}

.mobileDropdown .mobileList a {
	color:$orange;
	text-decoration:none;
	font-size:20px;
	padding:5px;

	&:hover {
			background-color:lighten($orange,15);
			color:darken($light-gray,40)
					}
}

.mobileDropdown .mobileList ul {
	display: none;
    position: absolute;
    top: 17px;
    float:center;
    padding:1px;
}

.mobileDropdown:hover .mobileList ul {
	display: block;
	border:solid 2px $orange;
	background-color:white;
	height:160px;
	width:100px;
	border-radius:5px;
	margin-top:23px;
}


h1, h2, {
	font-family:$title-font;
	text-align:center;
	color:darken($light-gray,50);
}

h1 {
	font-size:80px;
	margin:40px;
}

h2 {
	font-size:40px;
	margin-top:30px;
	margin-bottom:60px;
}


@media and screen (max-width:1079px){
	.nav li{
		font-size:30px;
		padding:0 39px;
	}
}

